body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header{
  margin: 0;
  font-size: 36px;
  background-color: #efe4f7;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  padding: 50px;
  text-align: center;
  justify-content:space-around
}
